@{
    ViewData["Title"] = "Home Page";
}

@model Holiday

<div class="text-center">
    <h1 class="display-4">Is today a holiday?</h1>
    @if (Model != null)
    {
        if (Model.name != null)
        {
            if(Model.day == DateTime.Now.Day)
            {
                <h3>Today is @Model.name</h3>
            }
            else
            {
                <h4>The next holiday is @Model.name on @Model.month/@Model.day/2020.</h4>
            }

        }

    }

    @if (ViewBag.No != null)
    {
        <h3>@ViewBag.No</h3>
    }

    <a class="badge" asp-action="DateCheck" asp-controller="Home">Check for Any Holidays Today!</a>
</div>
